#!/bin/sh

user=$1
domain=office.fourity.com
EASYRSA=/usr/local/etc/openvpn

if [ -z "${user}" ]; then
  echo "Usage: $0 <user>" >&2
  exit 1
fi

cd $EASYRSA
easyrsa build-client-full ${user}.${domain} nopass
cd pki
openssl pkcs12 -export -in issued/${user}.${domain}.crt -inkey private/${user}.${domain}.key -out pkcs/${user}.${domain}.pfx -certfile ca.crt -passout pass:
tar cfvJp ${user}.tar.xz issued/${user}.${domain}.crt private/${user}.${domain}.key reqs/${user}.${domain}.req pkcs/${user}.${domain}.pfx
